<header id="header">
    <nav>
        <a href="/index.html"><img src="/img/logo/logoAlphaWhite.png" alt="Website Logo" id="siteLogo"></a>
        <div id="headerTitle">Paul Guillemin</div>
        <button id="burger">
            <img src="/img/icon/burgerButton.png" alt="Menu">
        </button>
        <ul id="navLinks">
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="languageSelector">
            <button id="languageButton"><img src="/img/icon/languagesIcon.png" alt="Langue" style="width: 30px; height: 30px;"><span>English</span></button>
            <div id="languageMenu" class="language-menu">
                <a id="link-fr" data-lang="fr" href="/fr/index.html">Français</a>
                <a id="link-en" data-lang="en" href="/index.html">English</a>
                <a id="link-de" data-lang="de" href="/de/index.html">Deutsch</a>
                <a id="link-es" data-lang="es" href="/es/index.html">Español</a>
            </div>
        </div>
    </nav>
</header>
