<header>
    <nav>
        <a href="/es/index.html"><img src="/img/logo/logoAlpha.png" alt="Website Logo" id="siteLogo"></a>
        <div id="headerTitle">Paul Guillemin</div>
        <div id="menuToggle" class="menu-toggle">&#9776;</div>
        <ul>
            <li><a href="#about" id="navAbout">À propos</a></li>
            <li><a href="#portfolio" id="navPortfolio">Portfolio</a></li>
            <li><a href="#skills" id="navSkills">Compétences</a></li>
            <li><a href="#contact" id="navContact">Contact</a></li>
        </ul>
        <select id="languageSelector">
            <option value="en">English</option>
            <option value="fr">Français</option>
            <option value="de">Deutsch</option>
        </select>
    </nav>
</header>
