<header id="header">
    <nav>
        <a href="/de/index.html"><img src="/img/logo/logoAlpha.png" alt="Website Logo" id="siteLogo"></a>
        <div id="headerTitle">Paul Guillemin</div>
        <div id="menuToggle" class="menu-toggle">&#9776;</div>
        <ul>
            <li><a href="#about" id="navAbout">Über uns</a></li>
            <li><a href="#portfolio" id="navPortfolio">Portfolio</a></li>
            <li><a href="#skills" id="navSkills">Kompetenzen</a></li>
            <li><a href="#contact" id="navContact">Kontakt</a></li>
        </ul>
        <div class="languageSelector">
            <button id="languageButton"><img src="/img/icon/languagesIcon.png" alt="Langue" style="width: 30px; height: 30px;"><span>Deutsch</span></button>
            <div id="languageMenu" class="language-menu">
                <a id="link-fr" data-lang="fr" href="/fr/index.html">Français</a>
                <a id="link-en" data-lang="en" href="/index.html">English</a>
                <a id="link-de" data-lang="de" href="/de/index.html">Deutsch</a>
                <a id="link-es" data-lang="es" href="/es/index.html">Español</a>
            </div>
        </div>
    </nav>
</header>
